<header class="navBar">
    <div class="logo">
        <img src="imgLayout/logo.png" alt="logo">
    </div>

    <nav class="navLinks">
        <a routerLink="/inicio">INICIO</a>
        <a routerLink="/queson">QUE SON</a>
        <a routerLink="/tipos">TIPOS</a>
        <a routerLink="/tabla">TABLA</a>
        <a routerLink="/conciencia">CONCIENCIA</a>
    </nav>

    <div class="User">
        <img src="imgLayout/avatar.png" alt="usuario">

        <div class="userMenu">
            <a href="#">Ver usuario</a>
            <a href="#">Cerrar sesión</a>
        </div>
    </div>
</header>

<main>
    <router-outlet>

    </router-outlet>
</main>

<footer class="footer">
    <nav class="footerLinks">
        <a routerLink="/tecnologias">TECNOLOGIAS</a>
        <a routerLink="/contactanos">CONTACTANOS</a>
    </nav>
    <div class="footerInfo">
        <p>© 2026 Enfermedades Huérfanas | Todos los derechos reservados</p>
    </div>
</footer>